{% extends 'base.html' %}
{% block content %}
<div style="text-align:center;margin:30px 0px"><h1>To Do List</h1></div>

    {% if tasks%}
     
     <table style="width:50%;margin:20px auto" class = "table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      
      <td>{{task.ID}}</td>
      <td>{{task.Task_Title}}</td>
      <td>{{task.Task_Description}}</td>
      <td>{{task.status_display}}</td>
      <td>
        <a style="margin-right:5px" class="btn btn-danger btn-sm" href="{% url 'delete_task' id=task.ID %}">Delete</a>
        <a style="margin-right:5px" class="btn btn-success btn-sm" href="{% url 'edit_task' id=task.ID %}">Edit</a>
        <a style="margin-right:5px" class="btn btn-warning btn-sm" href="{% url 'complete_task' id=task.ID %}">Complete</a>
     </td>
    </tr>
     {% endfor %}
     
    {% else %}
    <h2 style="text-align:center">No Task Available</h2>
    {% endif %}
  
    
    
  </tbody>
</table>
{% endblock  %}

